.container{
    background-color: #9fcdff;
}
.border_3px {
    border: solid 3px red;
}

.silver_dark {
    background-color: rgb(119, 119, 119);
}

.silver_light {
    background-color: rgb(220, 220, 220);
}

.min_height_50px {
    min-height: 50px;
}

.min_height_30per{
    min-height: 33.333%;
}


.min_height_100px {
    min-height: 100px;
}


.min_width_100per {
    min-width: 100%;
}

.max_width_20per{
    max-width: 20%;
}

.max_width_30per{
    max-width: 33%;
}

.min_width_20per{
    /*min-width: 15%;*/
    flex: 0 1 18%;

}

hr {
    width: 100%;
}


/*Content BEGIN*/
.content_left{
    flex-direction: column;
    justify-content: space-between;
}

.content_right_center{
    flex-wrap: wrap;
    /*background-color: #1c7430;*/

}


/*Content END*/

/*Footer Begin*/

.footer_right{
    flex-direction: column;
}

/*Footer END*/

@media (max-width: 1200px) {
    .row.header {
        justify-content: space-between;
    }

    .header_it {
        /*background-color: #2ea52a;*/
    }

    .footer{
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .content_left{
        order: 2;
    }

    .content_right{
        order: 1;
    }
}

@media (max-width: 768px) {
    .row.header {
        justify-content: center;
    }

    .header_it {
        /*background-color: orangered;*/
    }

    .content_left{
        flex-direction: row;
        /*width: 100%;*/
        /*justify-content: space-between;*/
    }

    .row_left_top{
        min-width: 25%;
        min-height: 100px;
    }

    .row_left_bottom{
        min-width: 25%;
        min-height: 100px;
    }

    .footer{
        /*display: block;*/
        /*background-color: #0f6674;*/
        flex-direction: column;
        align-items: center;
    }
}
